.upload{
  position: relative;
}

.upload label{
  position: absolute;
  left: 0;
  max-width: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.upload input{
  opacity: 0.4;
  margin-left: 70px;
}

.upload input{
  opacity: 0.4;
  margin-left: 70px;
}