<!-- <app-article [article]="article">
</app-article> -->
<app-panel
  [productPage]="'home'"
  [organization]="'Tech Ops'"
  [userEmailAddress]="'techops@pwc.com'"
></app-panel>

<!-- <app-backable-bar></app-backable-bar> -->

<!-- <app-faq [config]="config" [fetchFAQArticles]="fetchFAQArticles"></app-faq> -->
<!-- <app-main [config]="config" [fetchSuggestedArticles]="fetchSuggestedArticles"></app-main> -->
<!--

<app-search-input [fromPage]="'search'"></app-search-input> -->


<!-- <app-notification [config]="config"></app-notification> -->

<!-- <app-search [config]="config"></app-search> -->
