.app-nav{
  height: 56px;
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
  background: #3f51b5;
}

.app-title{
  color: #fff;
  font-size: 20px;
  display: inline-block;
  height: 100%;
  line-height: 56px;
}

.app-subtitle{
  color: #fff;
  opacity: .8;
  margin-left: 10px;
}
