.breadcrumb{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.breadcrumb-item{
  float: left;
  font-size: 14px;
  color: #666;
}

.breadcrumb-divide{
  display: inline-block;
  margin: 0 10px;
}
